In [1]:
import pandas as pd 
import numpy as np

In [6]:
df = pd.read_csv("../Datasets/Acumeal_ New Recipe Database - High-Cal.csv")
df.iloc[0:5]

,High Calorie Plan,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,Week 1,Breakfast,Breakfast,Lunch,Dinner,Snack,Total,NaN
1,Meal,Knock-Oats,Vegan Breakfast Potatoes,Strawberry protein smoothie,"Basil Pesto Pasta w/ Broccoli, Mushrooms",Peanut Butter & Celery,-,NaN
2,Calories,451,366,769,1070,418,3074,calories
3,Carbs (grams),63,55,44,98,21,281,grams
4,Fat,20,14,19,64,32,149,grams