## Import Dependencies

In [12]:
import pandas as pd 
import numpy as np 
import seaborn as sns 
sns.set()
import matplotlib.pyplot as plt

## Load In Dataset

In [13]:
df = pd.read_csv('Datasets/test2.csv')
df.head()

,Age,Workout_Often,Gender,High_BP,Diabetes,Build_Muscle,Lose_Weight,Metabolism,Mealplan
0,22,Yes,Male,No,No,Yes,No,3000,1
1,40,No,Female,Yes,Yes,No,No,1000,1
2,16,No,Male,No,No,Yes,No,2900,1
3,30,Yes,Female,No,No,No,Yes,2500,0
4,60,Yes,Male,Yes,No,No,Yes,2000,0

In [14]:
# mapping = {'high': 1, 'low': 0}
# df['Mealplan'].replace({'high': mapping, 'low': mapping})

# df['Mealplan'] = df['Mealplan'].map({'high':1,'low':0})
# df

In [15]:
df.dtypes

Age               int64
Workout_Often    object
Gender           object
High_BP          object
Diabetes         object
Build_Muscle     object
Lose_Weight      object
Metabolism        int64
Mealplan          int64
dtype: object

In [17]:
# cd = {'high': 1, 'low': 0}
# df['Mealplan'].replace(cd, inplace=True)

## Turn Categories Into Numbers

In [18]:
X = df.drop('Mealplan', axis=1)
y = df['Mealplan']

In [19]:
from sklearn.preprocessing import LabelEncoder

le_workout_often = LabelEncoder()
le_gender = LabelEncoder()
le_high_bp = LabelEncoder()
le_diabetes = LabelEncoder()
le_build_muscle = LabelEncoder()
le_lost_weight = LabelEncoder()

le_job = LabelEncoder()
le_degree = LabelEncoder()


X['Workout_often_n'] = le_workout_often.fit_transform(X['Workout_Often'])
X['Gender_n'] = le_gender.fit_transform(X['Gender'])
X['High_BP_n'] = le_high_bp.fit_transform(X['High_BP'])
X['Diabetes_n'] = le_diabetes.fit_transform(X['Diabetes '])
X['Build_muscle_n'] = le_build_muscle.fit_transform(X['Build_Muscle'])
X['Lose_weight_n'] = le_lost_weight.fit_transform(X['Lose_Weight'])

X.head()

,Age,Workout_Often,Gender,High_BP,Diabetes,Build_Muscle,Lose_Weight,Metabolism,Workout_often_n,Gender_n,High_BP_n,Diabetes_n,Build_muscle_n,Lose_weight_n
0,22,Yes,Male,No,No,Yes,No,3000,1,1,0,0,1,0
1,40,No,Female,Yes,Yes,No,No,1000,0,0,1,1,0,0
2,16,No,Male,No,No,Yes,No,2900,0,1,0,0,1,0
3,30,Yes,Female,No,No,No,Yes,2500,1,0,0,0,0,1
4,60,Yes,Male,Yes,No,No,Yes,2000,1,1,1,0,0,1

In [20]:
## Drop Categorical Columns
inputs_n = X.drop(['Workout_Often', 'Gender', 'High_BP', 'Diabetes ', 'Build_Muscle', 'Lose_Weight'], axis=1)
inputs_n

,Age,Metabolism,Workout_often_n,Gender_n,High_BP_n,Diabetes_n,Build_muscle_n,Lose_weight_n
0,22,3000,1,1,0,0,1,0
1,40,1000,0,0,1,1,0,0
2,16,2900,0,1,0,0,1,0
3,30,2500,1,0,0,0,0,1
4,60,2000,1,1,1,0,0,1
5,52,800,0,0,0,1,0,0
6,24,3100,1,1,0,0,1,0
7,32,2300,1,0,0,0,1,0
8,80,1200,0,1,1,1,0,1
9,45,3100,1,0,0,1,1,1
10,19,2600,1,1,0,0,1,0
11,26,1400,1,1,0,0,0,1
12,28,1500,0,0,1,0,0,1
13,30,2700,1,1,0,0,1,1
14,20,1800,1,0,0,0,0,1
15,15,1400,0,0,0,0,0,0
16,10,3000,0,1,0,0,0,0
17,45,1200,1,1,1,0,0,1
18,20,1100,1,0,0,1,0,0

## Split the Data

In [21]:
from sklearn.model_selection import train_test_split

np.random.seed(42)

X_train, X_test, y_train, y_test = train_test_split(inputs_n, y, test_size=.2)

X_train.shape, X_test.shape, y_train.shape, y_test.shape

((15, 8), (4, 8), (15,), (4,))

## Apply Decision Tree Model

In [22]:
from sklearn.tree import DecisionTreeClassifier,export_graphviz
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
from sklearn import tree

# Instantiate the model 
clf = DecisionTreeClassifier()

# Fit the model 
clf.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [23]:
y_pred = clf.predict(X_test)

np.array(y_test), y_pred

(array([1, 1, 0, 1]), array([1, 1, 0, 1]))

In [25]:
from sklearn.model_selection import cross_validate
from sklearn.model_selection import cross_val_score

np.random.seed(42)

clf = DecisionTreeClassifier(random_state=0)
scoring = {'acc': 'accuracy',
           'prec_macro': 'precision_macro',
           'rec_macro': 'recall_macro',
           'f1_macro': 'f1_macro'}
scores = cross_validate(clf,inputs_n,y, cv=10, scoring=scoring)
# print(scores.keys())

print ('Accuracy score : %.3f' % scores['test_acc'].mean())
print ('Precisoin score : %.3f' % scores['test_prec_macro'].mean())
print ('Recall score : %.3f' % scores['test_rec_macro'].mean())
print ('F1 score : %.3f' % scores['test_f1_macro'].mean())

Accuracy score : 1.000
Precisoin score : 1.000
Recall score : 1.000
F1 score : 1.000

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/sklearn/model_selection/_split.py:657: Warning: The least populated class in y has only 7 members, which is too few. The minimum number of members in any class cannot be less than n_splits=10.
  % (min_groups, self.n_splits)), Warning)

In [112]:
# import graphviz
# import pydotplus
# from sklearn.tree import DecisionTreeClassifier, export_graphviz

# data = export_graphviz(clf.fit(X_train, y_train),out_file=None,   
#                          filled=True, rounded=True,  
#                          special_characters=True
#                        )

# pydot_graph = pydotplus.graph_from_dot_data(data)
# pydot_graph.write_png('original_tree.png')
# pydot_graph.set_size('"11,12!"')
# pydot_graph.write_png('resized_tree.png')
# gvz_graph = graphviz.Source(pydot_graph.to_string())
# gvz_graph

# Categorical Mealplan Values

In [3]:
data = pd.read_csv('Datasets/test1.csv')
data.head()

,Age,Workout_Often,Gender,High_BP,Diabetes,Build_Muscle,Lose_Weight,Metabolism,Mealplan
0,22,Yes,Male,No,No,Yes,No,3000,high
1,40,No,Female,Yes,Yes,No,No,1000,high
2,16,No,Male,No,No,Yes,No,2900,high
3,30,Yes,Female,No,No,No,Yes,2500,low
4,60,Yes,Male,Yes,No,No,Yes,2000,low

In [6]:
X = data.drop('Mealplan', axis=1)
y = data['Mealplan']

#X = pd.get_dummies(data[['Age', 'Workout_Often', 'Gender', 'High_BP', 'Diabetes ', 'Build_Muscle', 'Lose_Weight', 'Metabolism']])

## Convert Inputs to Numbers

In [9]:
from sklearn.preprocessing import LabelEncoder

le_workout_often = LabelEncoder()
le_gender = LabelEncoder()
le_high_bp = LabelEncoder()
le_diabetes = LabelEncoder()
le_build_muscle = LabelEncoder()
le_lost_weight = LabelEncoder()

le_job = LabelEncoder()
le_degree = LabelEncoder()


X['Workout_often_n'] = le_workout_often.fit_transform(X['Workout_Often'])
X['Gender_n'] = le_gender.fit_transform(X['Gender'])
X['High_BP_n'] = le_high_bp.fit_transform(X['High_BP'])
X['Diabetes_n'] = le_diabetes.fit_transform(X['Diabetes '])
X['Build_muscle_n'] = le_build_muscle.fit_transform(X['Build_Muscle'])
X['Lose_weight_n'] = le_lost_weight.fit_transform(X['Lose_Weight'])

X.head()

,Age,Workout_Often,Gender,High_BP,Diabetes,Build_Muscle,Lose_Weight,Metabolism,Workout_often_n,Gender_n,High_BP_n,Diabetes_n,Build_muscle_n,Lose_weight_n
0,22,Yes,Male,No,No,Yes,No,3000,1,1,0,0,1,0
1,40,No,Female,Yes,Yes,No,No,1000,0,0,1,1,0,0
2,16,No,Male,No,No,Yes,No,2900,0,1,0,0,1,0
3,30,Yes,Female,No,No,No,Yes,2500,1,0,0,0,0,1
4,60,Yes,Male,Yes,No,No,Yes,2000,1,1,1,0,0,1

### Drop Categorical Columns

In [26]:
# Drop categorical columns 
inputs_n = X.drop(['Workout_Often', 'Gender', 'High_BP', 'Diabetes ', 'Build_Muscle', 'Lose_Weight'], axis=1)
inputs_n

,Age,Metabolism,Workout_often_n,Gender_n,High_BP_n,Diabetes_n,Build_muscle_n,Lose_weight_n
0,22,3000,1,1,0,0,1,0
1,40,1000,0,0,1,1,0,0
2,16,2900,0,1,0,0,1,0
3,30,2500,1,0,0,0,0,1
4,60,2000,1,1,1,0,0,1
5,52,800,0,0,0,1,0,0
6,24,3100,1,1,0,0,1,0
7,32,2300,1,0,0,0,1,0
8,80,1200,0,1,1,1,0,1
9,45,3100,1,0,0,1,1,1
10,19,2600,1,1,0,0,1,0
11,26,1400,1,1,0,0,0,1
12,28,1500,0,0,1,0,0,1
13,30,2700,1,1,0,0,1,1
14,20,1800,1,0,0,0,0,1
15,15,1400,0,0,0,0,0,0
16,10,3000,0,1,0,0,0,0
17,45,1200,1,1,1,0,0,1
18,20,1100,1,0,0,1,0,0

In [27]:
X_train, X_test, y_train, y_test = train_test_split(inputs_n, y, test_size=0.5, random_state=0)

clf_entropy = DecisionTreeClassifier(criterion='entropy', random_state=0,
                                    max_depth=3, min_samples_leaf=5)
clf_entropy.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=3,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=5, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=0, splitter='best')

In [28]:
y_pred = clf_entropy.predict(X_test)
y_pred

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1])

In [29]:
accuracy_score(y_test, y_pred)

0.7

In [30]:
clf_entropy.score(X_test,y_test)

0.7